ul {
 
  border-style: dotted;
  width: 350px;
  border: 2px solid black;
  padding: 20px;
  margin: 20px;
  position: relative
}
h2 {
	background-color: #ff038f;
	border: 2px solid black;
	width: 386px;
	padding: 20px;
	color:white;
  margin: auto;
  border-style: dotted;
  border: 2px solid black;
  padding: 2px;
  position: relative
}
ul {
margin: auto;
  width: 350px;
  height: 125px;
  float: middle;
  text-align: center;
  list-style-position: inside;

  
}
p {
  
  border-style: dotted;
  width: 350px;
  border: 2px solid black;
  padding: 20px;
  margin: 20px;
  position: relative
}
p {
margin: auto;
  width: 350px;
  height: 180px;
  float: middle;


}
img {
  border: 2px solid black;
}

body {
	background-image: url("resources/images/kirbyy.png")
}